{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


      
{% block account_heading %}
  {% trans "Password Reset" %}
{% endblock account_heading %}
  
{% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
{% endif %}


{% block account_subheading %}
  <div class="my-4">
    <p class="italic">{% trans "Forgotten your password?" %}</p>
    <p class="text-sm">{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
  </div>
{% endblock account_subheading %}
        
      
{% block inner %}
  <form method="POST" action="{% url 'account_reset_password' %}" class="w-full max-w-xl bg-white rounded-lg shadow-md p-6">
    {% csrf_token %}
    {% if form.errors %}
      {% for error in form.non_field_errors %}
        <p class="text-red-500 text-xs italic mb-4">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <div class="flex flex-wrap -mx-3 mb-6">
      {% comment %} email field {% endcomment %}
      <div class="w-full md:w-full px-3 mb-6">
        <label for={{ form.email.id_for_label }} class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Email Address</label>
        {% render_field form.email class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %}
        {% for error in form.email.errors %}
          <p class="text-red-500 text-xs italic">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="w-full md:w-full px-3 mb-6">
        <button type="submit" class="appearance-none block w-full bg-blue-400 text-gray-100 font-bold border border-gray-200 rounded-lg py-3 px-3 leading-tight hover:bg-blue-500">Reset My Password</button>
      </div>
    </div>
    <p class="text-sm font-bold">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  </form>
{% endblock %}

