{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block account_heading %}
  {% if token_fail %}
    {% trans "Bad Token" %}
  {% else %}
    {% trans "Change Password" %}
  {% endif %}
{% endblock account_heading %}

    
{% block inner %}

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
  {% else %}
    {% if form %}
      <form method="POST" action="." class="w-full max-w-xl bg-white rounded-lg shadow-md p-6">
        {% csrf_token %}
        
        {% comment %} Non field errors {% endcomment %}
        {% if form.errors %}
          {% for error in form.non_field_errors %}
            <p class="text-red-500 text-xs italic mb-4">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {% comment %} password field {% endcomment %}
        <div class="w-full md:w-full px-3 mb-6">
          <label for={{ form.password1.id_for_label }} class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">New Password</label>
          {% render_field form.password1 class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %}
        </div>
        {% for error in form.password1.errors %}
          <p class="text-red-500 text-xs italic">{{ error }}</p>
        {% endfor %}
        <div class="w-full md:w-full px-3 mb-6">
          <label for={{ form.password2.id_for_label }} class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">New Password (Again)</label>
          {% render_field form.password2 class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %}
        </div>
        {% for error in form.password2.errors %}
          <p class="text-red-500 text-xs italic">{{ error }}</p>
        {% endfor %}
        
        {% comment %} submit button field {% endcomment %}
        <div class="w-full md:w-full px-3 mb-6">
          <button type="submit" class="appearance-none block w-full bg-blue-400 text-gray-100 font-bold border border-gray-200 rounded-lg py-3 px-3 leading-tight hover:bg-blue-500">{% trans 'Change Password' %}</button>
        </div>

      </form>
    {% else %}
      <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
  {% endif %}

{% endblock %}

